/*************** Reset *********************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img,
video {
  width: 100%;
  height: auto;
  display: block;
  margin-bottom: 2rem;
  filter: grayscale(100%);
  transition: filter 0.3s ease;
}

img:hover,
video:hover {
  filter: grayscale(0%);
}

/*************** Font styling *********************/

.h1_forside {
  font-family: didot;
  line-height: 0.8;
  letter-spacing: -0.2em;
  text-align: left;
}

h1 {
  font-family: didot;
  font-size: 4.6rem;
  font-weight: lighter;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

h2 {
  font-family: didot;
  font-weight: lighter;
  font-style: italic;
  font-size: xx-large;
}

h3 {
  font-family: didot;
  font-weight: lighter;
  font-style: italic;
  margin-top: 3rem;
}

p {
  font-family: didot;
  line-height: 2;
  margin-bottom: 2rem;
}

.margin_padding_none {
  margin: 0;
  padding: 0;
}

a {
  font-family: didot;
  color: #000000;
  line-height: 2;
}

.oversigt_oversrift {
  font-family: didot;
  font-size: 2rem;
  font-style: italic;
  font-weight: lighter;
  color: #000000;
}

.text_position_right {
  text-align: right;
}

.text_position_center {
  text-align: center;
}

.video_margin_none {
  margin-top: 0;
}

.section {
  margin-top: 3rem;
}
